@{
    ViewBag.Title = "Article Eidt";
}
<form action="@Url.Action("Edit")" method="post">
    <input name="ArticleId" type="hidden" value="@Model.ArticleId" />
    <input name="CreateUserId" type="hidden" value="@(string.IsNullOrWhiteSpace(Model.CreateUserId)?ViewBag.CurrentUser.UserId:Model.CreateUserId)" />
    <input name="Content" id="hiddenContent" type="hidden" value="@Model.Content" />
    <table class="cols-2">
        <thead>
            <tr>
                <th colspan="4">@ViewBag.Title</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="4" class="buttons">
                    <input id="btnSubmit" type="button" value="提 交" />
                    <input type="reset" value=" 恢 复 " />
                </td>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <th>
                    <label for="Title">标题：</label>
                </th>
                <td colspan="3">
                    <input type="text" id="Title" name="Title" size="50" maxlength="80" value="@Model.Title" />
                    <span class="required">*</span>
                </td>
            </tr>
            <tr>
                <th>
                    <label for="Keywords">关键字：</label>
                </th>
                <td colspan="3">
                    <input type="text" id="Keywords" name="Keywords" size="50" maxlength="100" value="@Model.Keywords" />
                    <span class="tips">(多个关键字用英文逗号隔开)</span>
                </td>
            </tr>
            <tr class="cols-4">
                <th>
                    <label for="CategoryId">分类：</label>
                </th>
                <td>
                    <select id="CategoryId" name="CategoryId">
                        @foreach (var category in ViewBag.CategoryList)
                        {
                            if (Model.CategoryId == category.CategoryId)
                            {
                                <option value="@category.CategoryId" selected="selected">@category.CategoryName</option>
                            }
                            else
                            {
                                <option value="@category.CategoryId">@category.CategoryName</option>
                            }
                        }
                    </select>
                    <span class="required">*</span>
                </td>
                <th>
                    <label for="Weight">权重：</label>
                </th>
                <td>
                    <input type="text" id="Weight" name="Weight" size="5" maxlength="3" value="@Model.Weight" />
                    <span class="required">*</span>
                    <span class="tips">(&gt;=200为推荐文章)</span>
                </td>
            </tr>
            <tr class="cols-4">
                <th>
                    <label for="SummarySize">摘要长度：</label>
                </th>
                <td>
                    <input type="text" id="SummarySize" name="SummarySize" size="8" maxlength="4" value="@Model.SummarySize" />
                    <span class="required">*</span>
                    <span class="tips">(50-5000；为0的时候，内容即为摘要)</span>
                </td>
                <th>
                    <label for="State">状态：</label>
                </th>
                <td>
                    <select id="Status" name="Status">
                        <option value="101" @(Model.Status == 101 ? " selected=\"selected\"" : string.Empty)>有效</option>
                        <option value="103" @(Model.Status == 103 ? " selected=\"selected\"" : string.Empty)>删除</option>
                    </select>
                    <span class="required">*</span>
                </td>
            </tr>
            <tr>
                <td colspan="4" id="myEditor">
                    <style>
                        #myEditor tbody td, #myEditor tbody th, #myEditor tfoot td {
                            padding: 0;
                        }

                        #myEditor td, #myeditor th {
                            border: 1px solid #eee;
                        }
                    </style>
                    <script id="container" type="text/plain">
                        @Html.Raw(Model.Content)
                    </script>
                    <script src="~/Scripts/ueditor/ueditor.config.js"></script>
                    <script src="~/Scripts/ueditor/ueditor.all.js"></script>

                    <script type="text/javascript">
                        var ue = UE.getEditor('container');
                    </script>
                </td>
            </tr>
            <tr>
                <th>
                    <label for="CreateTime">发表时间：</label>
                </th>
                <td colspan="3">
                    <input type="text" id="CreateTime" name="CreateTime" value="@(Model.CreateTime.ToString() == "0001/1/1 0:00:00" ? DateTime.Now : Model.CreateTime)" size="20" />
                </td>
            </tr>
        </tbody>
    </table>
</form>
<script>
    $(function () {
        $("form").validate({
            flow: [
                { fields: "Title", errorText: "标题不能为空" },
                { fields: "CategoryId", errorText: "请选择分类" },
                { fields: "Weight", rules: "min:0;max:255", errorText: "权重必须为0-255" },
                { fields: "SummarySize", rules: "min:0;max:9999", errorText: "摘要长度必须为0-9999" },
                { fields: "Status", errorText: "请选择文章状态" }
            ]
        });
        $("#btnSubmit").click(function () {
            $("#hiddenContent").val(ue.getContent());
            $("form").submit();
        });
    });
</script>