@{
    ViewBag.Title = "User";
}
<form action="@Url.Action("Index","User")" method="get">
    <table class="cols-4">
        <thead>
            <tr>
                <th colspan="4">用户搜索</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="4" class="buttons">
                    <input type="submit" value="搜 索" />
                    <input type="reset" value="清 空" data-isclear="true" />
                </td>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <th><label for="username">用户名：</label></th>
                <td><input type="text" id="username" name="username" maxlength="20" value="@Model.SearchParams.UserName" /></td>
                <th><label for="displayname">昵称：</label></th>
                <td><input type="text" id="displayname" name="displayname" maxlength="20" value="@Model.SearchParams.DisplayName" /></td>
            </tr>
        </tbody>
    </table>
</form>
<table>
    <thead>
    <tr>
        <th style="width: 10%;">编号</th>
        <th style="width: 20%;">用户名</th>
        <th style="width: 20%;">昵称</th>
        <th style="width: 20%;">注册时间</th>
    </tr>
    </thead>
    @if (!string.IsNullOrEmpty(Model.Pager))
    {
        <tfoot>
        <tr><td colspan="6">@Html.Raw(Model.Pager)</td></tr>
        </tfoot>
    }
    <tbody>
    @if (Model.List.Count > 0)
    {
        foreach (var user in Model.List)
        {
            var routeValues = new { id = user.UserId };
            <tr>
                <td>@user.UserId</td>
                <td>@user.UserName</td>
                <td>@user.DisplayName</td>
                <td style="text-align: center;">@user.CreateTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
            </tr>
        }
    }
    else
    {
        <tr><td colspan="6">暂无符合条件的数据</td></tr>
    }
    </tbody>
</table>