<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/Content/Images/favicon.ico" />
    <link href="@Url.Content("~/Content/pub.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <header id="header" class="header">
        <div class="boundary">
            <h1 class="logo">
                <a href="@Url.Content(ViewBag.Setup.SiteDomain)">
                    <img src="@Url.Content("~/Content/Images/logo.png")" alt="@ViewBag.Setup.SiteName" />
                </a>
            </h1>
            <nav class="global-nav">
                <ul>
                    @foreach (var m in ViewBag.Menu)
                    {
                        var isCurr = string.Empty;
                        if (m.CategoryId == ViewBag.CurrentPosition && m.TargetUrl == null)
                        {
                            isCurr = "current";
                        }
                        else if (ViewBag.CurrentPosition == null && Request.RawUrl == m.TargetUrl)
                        {
                            isCurr = "current";
                        }
                        <li class="@isCurr"><a href="@(m.TargetUrl !=null ? m.TargetUrl:Url.Action("index", "article", new { id = m.CategoryId }))">@m.MenuName</a></li>
                    }
                </ul>
            </nav>
        </div>
    </header>
    <div class="body clearfix">
        <div class="boundary">@RenderBody()</div>
    </div>
    <footer id="footer" class="footer">
        <div class="boundary clearfix">
            <nav>
                当前位置：
                <span id="current-position" class="current-position"></span>
                <ul id="express-nav" class="express-nav">
                    @foreach (var m in ViewBag.Menu)
                    {
                        <li><a href="@(m.TargetUrl != null? m.TargetUrl:Url.Action("index", "article", new { id = m.MenuId }))">@m.MenuName</a></li>
                    }
                </ul>
            </nav>
            @if (ViewBag.CurrentUser != null)
            {
                <div class="manage-info">
                    @ViewBag.CurrentUser.DisplayName（<a href="@Url.Action("index","dashboard", new { Area = "manage" } )" target="_blank">后台管理</a>&nbsp;&nbsp;<a href="@Url.Action("logout","login", new { Area = "" })">退出</a>）
                </div>
            }
            <div class="copyright">Copyright &copy; 2009-@DateTime.UtcNow.ToString("yyyy") <a href="@Url.Content(ViewBag.Setup.SiteDomain)">@ViewBag.Setup.SiteName</a></div>
        </div>
    </footer>
    <script src="@Url.Content("~/Scripts/jquery.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/pub.js")" type="text/javascript"></script>
    @RenderSection("Script", false)
</body>
</html>
<script>
    $(function () {
        var curr = $(".current").children().html();
        $("#current-position").html(curr != null ? curr : "首页");
    });
</script>