@using QiBuBlog.Entity
<!DOCTYPE html>
<html>
<head>
    <title>QiBuBlog | @ViewBag.Title</title>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/style/images/favicon.ico" />
    @if (!string.IsNullOrEmpty(ViewBag.Keywords))
    {
        <meta name="Keywords" content="@ViewBag.Keywords" />
    }
    @if (!string.IsNullOrEmpty(ViewBag.Description))
    {
        <meta name="Description" content="@ViewBag.Description" />
    }
    <link href="@Url.Content("~/Content/pub.css")" rel="stylesheet" type="text/css" />
    @RenderSection("Css", false)
    <!--[if lte IE 9]><script type="text/javascript" src="@Url.Content("~/Scripts/html5fix.js")"></script><![endif]-->
</head>

<body>
<header id="header" class="header">
    <div class="boundary">
        <h1 class="logo"><a href="http://@ViewBag.Setup.SiteDomain">
            <img src="@Url.Content("~/Content/Images/logo.png")" alt="@ViewBag.Setup.SiteName" /></a></h1>
        <nav class="global-nav">
            <ul>
                @{
                    ViewBag.CategoryList.Insert(0, new Category(){CategoryId ="0",CategoryName = "首页"});
                }
                @foreach (var c in ViewBag.CategoryList)
                {
                    <li @Html.Raw(c.CategoryId == "0" ? " class=\"current\"" : string.Empty)><a href="@Url.Action("Index", "Article", new {id = c.CategoryId})">@c.CategoryName</a></li>
                }
            </ul>
        </nav>
    </div>
</header>
<div class="body clearfix">
    <div class="boundary">@RenderBody()</div>
</div>
<footer id="footer" class="footer">
    <div class="boundary clearfix">
        <nav>
            当前位置：
            <span id="current-position" class="current-position">首页</span>
            <ul id="express-nav" class="express-nav">
                @foreach (var c in ViewBag.CategoryList)
                {
                    <li @Html.Raw(c.CategoryId == "0" ? " class=\"current\"" : string.Empty)><a href="@Url.Action("Index", "Article", new {id = c.CategoryId})">@c.CategoryName</a></li>
                }
            </ul>
        </nav>
        @if (ViewBag.User != null)
        {
            
        }
        <div class="copyright">Copyright &copy; 2009-@DateTime.UtcNow.AddHours(ViewBag.Setup.TimeZone).ToString("yyyy") <a href="http://@ViewBag.Setup.SiteDomain">@ViewBag.Setup.SiteName</a></div>
    </div>
</footer>
<script src="@Url.Content("~/Scripts/jquery.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/pub.js")" type="text/javascript"></script>
@RenderSection("Script", false)
<!--[if lte IE 6]><script src="#"></script><![endif]-->
<!-- Execute in @ViewBag.ExecTime ms, @ViewBag.DbQueryCount queries -->
</body>
</html>
